.lilist1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.edit1{
    padding:25px;
}